# Install the necessary requirements
-r requirements.txt

# Python development requirements
nose2
flake8
pep8-naming
pyflakes
yapf
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
